<header class="flex">
  <img alt="Nx logo" width="175" src="/assets/images/medibook.png" />

</header>
<main>
  <h1>Bejelentkezés</h1>
  <div class="flex github-star-container">
    <form [formGroup]="loginForm">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
          <label for="firstname1">Email</label>
          <input formControlName="email" id="firstname1" type="email" pInputText>
        </div>
        <div class="p-field p-col">
          <label for="lastname1">Jelszó</label>
          <input formControlName="password" id="lastname1" type="text" pInputText>
        </div>
        <div class="p-field p-col ">
          <p-button (click)="submitLogin()" label="Submit"></p-button>
        </div>
      </div>
      </form>
    


  </div>

</main>
